@import "tailwindcss";


/* @apply font-satoshi; */
@theme inline {
  --font-main : var(--font-satoshi);
}


@layer base {
  body {
  background: #F6F4F3 ; 
  color: var(--foreground);
  font-family: var(--font-main);
  
}
} 